/* ========================================================================
   Component: block.scss
 ========================================================================== */
          
$block-icon-size:                   88px;
$block-icon-shadow:                 2px 2px 8px $dark-grey-second;

// Presentation Values
$presentation-max-width-xl:         1097px;
$presentation-max-width-lg:         570px;
$presentation-max-width-md:         570px;
$presentation-max-width-sm:         235px;

$presentation-top-xl:               527px;
$presentation-top-lg:               230px;
$presentation-top-md:               406px;
$presentation-top-sm:               230px;

$presentation-left-xl:              100px;
$presentation-left-lg:              50px;
$presentation-left-md:              50px;
$presentation-left-sm:              35px;

$presentation-leading-size-xl:      48px;
$presentation-leading-size-lg:      24px;
$presentation-leading-size-md:      24px;
$presentation-leading-size-sm:      16px;

$presentation-leading-height-xl:    72px;
$presentation-leading-height-lg:    30px;
$presentation-leading-height-md:    30px;
$presentation-leading-height-sm:    20px;

$presentation-leading-bottom-xl:    90px;
$presentation-leading-bottom-lg:    40px;
$presentation-leading-bottom-md:    40px;
$presentation-leading-bottom-sm:    25px;

$presentation-title-size-xl:      80px;
$presentation-title-size-lg:      40px;
$presentation-title-size-md:      48px;
$presentation-title-size-sm:      32px;

$presentation-title-height-xl:    90px;
$presentation-title-height-lg:    50px;
$presentation-title-height-md:    48px;
$presentation-title-height-sm:    32px;

$contact-devider-xl:              15px auto;
$contact-devider-lg:              10px auto;
$contact-devider-md:              10px auto;
$contact-devider-sm:              5px auto;

.block{
    @extend .row;
    margin-bottom:0; 
}

.block__container{
    @extend .container;
}

.block__one-column{
    @extend .col;
    @extend .l12;
    @extend .m12;
    @extend .s12;
}

.block__two-column{
    @extend .col;
    @extend .l6;
    @extend .m6;
    @extend .s12;
}

.block__three-column{
    @extend .col;
    @extend .l4;
    @extend .m4;
    @extend .s12;    
}

.presentation{
    position: relative;
    top: $presentation-top-lg;
    max-width: $presentation-max-width-xl;
    padding-left: $presentation-left-xl;
}

.presentation__leading{
    font-family: $museosans-light;
    font-size: $presentation-leading-size-xl;
    color: $white;
    line-height: $presentation-leading-height-xl;
    margin-bottom: $presentation-leading-bottom-xl;
}

.presentation__title{
    font-family: $parabola-regular;
    font-size: $presentation-title-size-xl;
    color: $white;
    line-height: $presentation-title-height-xl;
}

.block__icon i{
}

.block__icon--sm-logo{
    font-size: $block-icon-size;
    color: $white;    
    text-align: center;
    vertical-align: middle;
}

.contact-card{
    text-align: center;
    @extend .row;
    margin-bottom:0; 
    display: table;
    width: 100%;
}

.contact-card--white{
    background: $white;    
    .contact-card__header{
        color: $brownish-grey;
    }
}

.contact-card--reddish{
    background: $reddish-grey;        
    .contact-card__header{
        color: $white;
    }

    .contact-card__divider{
        background: $reddish-grey-dark;
    }
}

.contact-card__header{
    font-size: $font-size-base;
    font-family: $museosans-regular;
}

.contact-card__divider{
    margin: $contact-devider-xl; 
    width: 50%;
    height: 2px;
    background: $grey-light-second;
}

.contact-card__link{
    font-size: $font-size-medium;
    font-family: $museosans-regular;
    color: $dark;
}

.contact-card__wrapper{
    display: table-cell;
    vertical-align: middle;
}

/***************Block Responsive******************************/

// Default Desktop
@media #{$large-and-down} {
    .presentation{
        top: $presentation-top-lg;
        max-width: $presentation-max-width-lg;
        padding-left: $presentation-left-lg;
    }

    .presentation__leading{
        font-size: $presentation-leading-size-lg;
        line-height: $presentation-leading-height-lg;
        margin-bottom: $presentation-leading-bottom-lg;
    }

    .presentation__title{
        font-size: $presentation-title-size-lg;
        line-height: $presentation-title-height-lg;
    }

    .contact-card__divider{
        margin: $contact-devider-lg; 
    }
}

// Tablet
@media #{$medium-and-down} {
    .presentation{
        top: $presentation-top-md;
        max-width: $presentation-max-width-md;
        padding-left: $presentation-left-md;
    }

    .presentation__leading{
        font-size: $presentation-leading-size-md;
        line-height: $presentation-leading-height-md;
        margin-bottom: $presentation-leading-bottom-md;
    }

    .presentation__title{
        font-size: $presentation-title-size-md;
        line-height: $presentation-title-height-md;
    }

    .contact-card__divider{
        margin: $contact-devider-md; 
    }
}

// Mobile
@media #{$small-and-down} {
    .presentation{
        top: $presentation-top-sm;        
        max-width: $presentation-max-width-sm;
        padding-left: $presentation-left-sm;
    }

    .presentation__leading{
        font-size: $presentation-leading-size-sm;
        line-height: $presentation-leading-height-sm;
        margin-bottom: $presentation-leading-bottom-sm;
    }

    .presentation__title{
        font-size: $presentation-title-size-sm;
        line-height: $presentation-title-height-sm;
    }

    .contact-card__divider{
        margin: $contact-devider-sm; 
    }    
}
