@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?56156719');
  src: url('../fonts/fontello/fontello.eot?56156719#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?56156719') format('woff2'),
       url('../fonts/fontello/fontello.woff?56156719') format('woff'),
       url('../fonts/fontello/fontello.ttf?56156719') format('truetype'),
       url('../fonts/fontello/fontello.svg?56156719#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans-Light';
  src: url('../fonts/pioneer/MuseoSans_100.otf');
}

@font-face {
  font-family: 'MuseoSans-Regular';
  src: url('../fonts/pioneer/MuseoSans_500.otf');
}

@font-face {
  font-family: 'MuseoSans-Regular-Italic';
  src: url('../fonts/pioneer/MuseoSans_500_Italic.otf');
}

@font-face {
  font-family: 'MuseoSans-Bold';
  src: url('../fonts/pioneer/MuseoSans_700.otf');
}

@font-face {
  font-family: 'PARABOLA-Regular';
  src: url('../fonts/pioneer/PARABOLA-Regular.ttf');
}
