/* ========================================================================
   Varialbles:
 ========================================================================== */
/** Global Color Palette **/
//White & Grey
$white:             #ffffff;
$grey-white:        #f9f9f9;
$grey-light:        #e5e5e5;
$grey-normal:       #8F8D90;
$grey-dark:         #5d5d5d;
$dark-grey:         #252525;
$dark:              #1c1c1c;
$black:             #000;

$gunmetal:          #526265;
$reddish-grey:      #998675;
$reddish-grey-dark: #7c6e62;
$brownish-grey:     #877362;
$dark-grey-second:  #363636;
$grey-normal-second: #959595;
$warm-grey:         #979797;
$grey-light-second:	#c8c8c8;

/***** MuseoSans Fonts ******/
$museosans-light:               'MuseoSans-Light';
$museosans-regular:             'MuseoSans-Regular';
$museosans-regular-italic:      'MuseoSans-Regular-Italic';
$museosans-bold:                'MuseoSans-Bold';
$parabola-regular:              'PARABOLA-Regular';

/***********Font Size************/
$font-size-base:        24px;
$font-size-large:       40px;
$font-size-small:       16px;
$font-size-medium:      18px;

/**********Line Height***************/
$font-height-base:        32px;
$font-height-large:       48px;
$font-height-small:       16px;
$font-height-x-large:     18px;

/**********Text Font************/
$font-size-body-1:        32px;
$font-size-body-2:        28px;
$font-size-body-3:        24px;
$font-size-body-4:        20px;
$font-size-body-5:        18px;
$font-size-body-6:        16px;
$font-size-body-7:        14px;
