/* Home Page SCSS */
$h-header-height:                   100vh;
$h-header-container:                100%;
$h-header-margin-md:                0 0 0 48px !important;
$h-header-margin-sm:                0 0 0 24px !important;

$h-slide-min-height-lg:             0vh;
$h-slide-min-height-md:             0vh;
$h-slide-min-height-sm:             0vh;
$h-slide-min-height-xsm:            0vh;

$h-slide-padding:                   20px 0;
$h-slide-left-presentation-padding: 50px 0;

$h-description-presentation-gap:    100px;
$h-description-height:              60vh;
$h-description-padding:             20px 0;

$h-slide-left-presentation-top-lg:  0;
$h-slide-left-presentation-top-md:  0;
$h-slide-left-presentation-top-sm:  0;

$h-slide-x-image-size-md:           200px;
$h-slide-x-image-size-lg:           270px;

$h-contact-height-lg:               480px;
$h-contact-height-md:               320px;
$h-contact-height-sm:               270px;

$h-slide-left-padding-lg:           80px;
$h-slide-left-padding-md:           40px;
$h-slide-left-padding-sm:           20px;

.home-header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $h-header-height;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-image: url("/img/bg-header.jpg");

    .block__container{
        height: $h-header-container;
    }
}

.home-slide{
    padding: $h-slide-padding;    

    .block__two-column--right{
        background-image: url("/img/image-x.jpg");
        margin-left: -100%;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: $h-slide-min-height-lg;
        padding-right: $h-slide-left-padding-lg;
        background-size: $h-slide-x-image-size-lg;
        display: table;        
    }

    .presentation{
        width: 100%;
        top: $h-slide-left-presentation-top-lg;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
    }

    .presentation__leading{
        margin-left: 0;
        color: $dark;
    }

    .presentation__title{
        margin-left: 0;
        color: $dark;
    }

    .block__two-column--left{
        margin-left: 50%;
        min-height: $h-slide-min-height-lg;
        padding: 0;
        img{
            width: 100%;
        }
    }
}

.home-description{
    background: $gunmetal;
    padding: $h-description-padding;    
    margin-bottom: 0;

    .presentation{
        padding: $h-slide-left-presentation-padding;
        margin-top: $h-description-presentation-gap;
        margin-bottom: $h-description-presentation-gap;
        text-align: left;
        top: 0;
    }
    .presentation__leading,
    .presentation__title{
        margin-left: 0;
    }
}

.home-contact{
    .block__three-column{
        padding: 0;
        height: $h-contact-height-lg;
    }

    .block__three-column--first{
        display: table;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/img/contact-left.jpg");
    }
    .block__three-column--second{
    }
    .block__three-column--third{
        display: table;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;        
        background-image: url("/img/contact-right.jpg");
   }

   .block__icon--sm-logo{
        display: table-cell;
   }

   .contact-card{
        height: 50%;
   }
}



@media #{$medium-and-down} {
    .home-slide{
        .presentation{
            top: $h-slide-left-presentation-top-md;
        }
        .block__two-column--right{
            padding-right: $h-slide-left-padding-md;
            min-height: $h-slide-min-height-md;
            background-size: $h-slide-x-image-size-md;
        }

        .block__two-column--left{
            min-height: $h-slide-min-height-md;
        }
    }

    .home-contact{
        .block__three-column{
            height: $h-contact-height-md;
        }
    }    

    .home-header{
        .block__container{
            margin: $h-header-margin-md; 
        }
    }
}

@media #{$small-and-down} {
    .home-header{
        .block__container{
            margin: $h-header-margin-sm; 
        }
    }

    .home-description{
        .presentation{
            margin-top: $h-description-presentation-gap / 2;
            margin-bottom: $h-description-presentation-gap / 2;
        }
    }

    .home-slide{
        .presentation{
            top: $h-slide-left-presentation-top-sm;
            padding: $h-slide-left-presentation-padding;            
        }

        .block__two-column--left{
            min-height: $h-slide-min-height-sm;
            margin-left: 0;
        }

        .block__two-column--right{
            margin-left: 0;
            padding-right: $h-slide-left-padding-sm;            
            min-height: $h-slide-min-height-xsm;
            background-size: $h-slide-x-image-size-md;
        }
    }

    .home-contact{
        .block__three-column{
            height: $h-contact-height-sm;
        }
    }    
}
