/* Home Page SCSS */
$h-header-height:                       100vh;

$h-description-presentation-gap-xl:     250px;
$h-description-presentation-gap-lg:     110px;
$h-description-presentation-gap-md:     110px;
$h-description-presentation-gap-sm:     90px;

$h-description-height:                  60vh;
$h-description-padding:                 20px 0;

$h-slide-left-presentation-top:         0;
$h-slide-left-presentation-top-md:      0;
$h-slide-left-presentation-top-sm:      0;

$h-slide-x-image-size-md:               200px;
$h-slide-x-image-size-lg:               270px;
$h-slide-x-image-size-xl:               270px;

$h-contact-height-lg:                   480px;
$h-contact-height-md:                   320px;
$h-contact-height-sm:                   270px;

$h-slide-left-padding-xl:               14px;
$h-slide-left-padding-lg:               30px;
$h-slide-left-padding-md:               0px;
$h-slide-left-padding-sm:               0px;

$h-slide-right-padding-xl:              50px;
$h-slide-right-padding-lg:              25px;
$h-slide-right-padding-md:              25px;
$h-slide-right-padding-sm:              25px;

$block-icon-size-xl:                    150px;
$block-icon-size-lg:                    88px;
$block-icon-size-md:                    88px;
$block-icon-size-sm:                    88px;

$font-header-size-xl:                   50px;
$font-header-size-lg:                   30px;
$font-header-size-md:                   30px;
$font-header-size-sm:                   30px;

$font-email-size-xl:                    36px;
$font-email-size-lg:                    20px;
$font-email-size-md:                    20px;
$font-email-size-sm:                    20px;

.home-header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $h-header-height;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-image: url("/img/bg-header.jpg");
}

.home-slide{
    .block__two-column{
        padding: 0;
    }

    .block__two-column--right{
        background-image: url("/img/image-x.jpg");
        margin-left: -100%;
        background-position: center center;
        background-repeat: no-repeat;
        padding-right: $h-slide-left-padding-xl;
        background-size: $h-slide-x-image-size-xl;
        display: table;        
    }

    .block__two-column--left{
        margin-left: 50%;
        padding: $h-slide-right-padding-xl;
        img{
            width: 100%;
        }
        .carousel.carousel-slider{
            height: 100%;
        }
    }

    .presentation{
        top: $h-slide-left-presentation-top;
        display: table-cell;
        vertical-align: middle;
    }

    .presentation__leading{
        color: $dark;
    }

    .presentation__title{
        color: $dark;
    }
}

.home-description{
    background: $gunmetal;
    padding: $h-description-padding;    
    margin-bottom: 0;

    .presentation{
        margin-top: $h-description-presentation-gap-xl;
        margin-bottom: $h-description-presentation-gap-xl;
        text-align: left;
        top: 0;
    }
    .presentation__leading,
    .presentation__title{
        margin-left: 0;
    }
}

.home-contact{
    .block__three-column{
        padding: 0;
        height: $h-contact-height-lg;
        overflow: hidden;
    }

    .block__three-column--first{        
        .block__hover-zoom{
            background-image: url("/img/contact-left.jpg");
        }
    }

    .block__three-column--second{
        background: $reddish-grey;
    }

    .block__three-column--third{
        .block__hover-zoom{
            background-image: url("/img/contact-right.jpg");
        }
    }

    .block__three-column--first,
    .block__three-column--third{
        .block__hover-zoom{
            display: table;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.5s ease;
            height: 100%;
            width: 100%;
            &:hover{
                transform: scale(1.1);
            }            
        }
    }

    .block__icon--sm-logo{
        font-size: $block-icon-size-xl;
        display: table-cell;
    }

    .contact-card{
        height: 50%;
    }

    .contact-card__header{
        font-size: $font-header-size-xl;
    }

    .contact-card__link{
        font-size: $font-email-size-xl;
    }    
}

// Default Desktop
@media #{$large-and-down} {
    .home-slide{
        .block__two-column--right{
            padding-right: $h-slide-left-padding-md;
            background-size: $h-slide-x-image-size-md;
        }

        .block__two-column--left{
            padding: $h-slide-right-padding-lg;            
        }
    }

    .home-contact{
        .block__three-column{
            height: $h-contact-height-lg;
        }

        .block__icon--sm-logo{
            font-size: $block-icon-size-lg;
        }

        .contact-card__header{
            font-size: $font-header-size-lg;
        }

        .contact-card__link{
            font-size: $font-email-size-lg;
        }    
    }    

    .home-description{
        .presentation{
            margin-top: $h-description-presentation-gap-lg;
            margin-bottom: $h-description-presentation-gap-lg;            
        }
    }
}

// Tablet
@media #{$medium-and-down} {
    .home-slide{
        .block__two-column--right{
            padding-right: $h-slide-left-padding-md;
            background-size: $h-slide-x-image-size-md;
        }

        .block__two-column--left{
            padding: $h-slide-right-padding-md;            
        }
    }

    .home-contact{
        .block__three-column{
            height: $h-contact-height-md;
        }

        .block__icon--sm-logo{
            font-size: $block-icon-size-md;
        }

        .contact-card__header{
            font-size: $font-header-size-md;
        }

        .contact-card__link{
            font-size: $font-email-size-md;
        }    
    }    

    .home-description{
        .presentation{
            margin-top: $h-description-presentation-gap-md;
            margin-bottom: $h-description-presentation-gap-md;            
        }
    }
}

// Mobile
@media #{$small-and-down} {
    .home-description{
        .presentation{
            margin-top: $h-description-presentation-gap-sm;
            margin-bottom: $h-description-presentation-gap-sm;
        }
    }

    .home-slide{
        .presentation{
        }

        .block__two-column--left{
            margin-left: 0;
            padding: $h-slide-right-padding-sm;            
        }

        .block__two-column--right{
            margin-left: 0;
            padding-right: $h-slide-left-padding-sm;            
            background-size: $h-slide-x-image-size-md;
        }
    }

    .home-contact{
        .block__three-column{
            height: $h-contact-height-sm;
        }

        .block__icon--sm-logo{
            font-size: $block-icon-size-sm;
        }

        .contact-card__header{
            font-size: $font-header-size-sm;
        }

        .contact-card__link{
            font-size: $font-email-size-sm;
        }
    }    
}
